*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    overflow:hidden;
}
body{
    background-color :#1E1E1E;
    color:white
}
body, h1 {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: normal;
    text-align: center;
    
}
h1{
    pointer-events: none; 

}

container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
}


ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input, textarea, button {
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-family: inherit;
}

#input {
    width: 50%;
}

#output {
    height: 2px;
    width: 30%;
    pointer-events: none; 
}

button {
    border-radius: 1rem;
    cursor: pointer;
}
    
#input{
    width:50%;
}

#output{
    
    width: 50%;
}
button {
    border-radius:1rem;
    cursor: pointer;
}